/* body {
    background-color: lightslategrey;
} */

header {
    padding: 15px;
    /* background-color: darkslateblue; */
    color: white;
    margin-bottom: 20px;
}

#bigger {
    font-size: 1.4em;
}

#playerGreeting {
    font-size: 1.4em;
    font-weight: bold;
    color: turquoise;
    text-align: center;
}

#narrationText {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2em;
}

.card {
    min-height: 270px;
}

#results {
    color: white;
}

h1 {
    font-size: 6em;
}

#chatbox {
    background-color: white;
    height: 180px;
    padding: 10px 20px;
    overflow: scroll;
    margin-bottom: 20px;
    line-height: .5em;
}

.bg-info {
    color: white;
}